<section>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a id="aHome" href="#/home">Home</a></li>
                    <li><a id="aUS" href="#/userstories/{{backlogId}}">User stories</a></li>
                    <li><a id="aSprint" href="#/sprints/{{backlogId}}">Sprints</a></li>
                    <li><a id="aUser" href="#/users/{{backlogId}}">Développeurs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading">
            Commits du backlog
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Gitlink</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="commit in commits">
                            <td></td>
                            <td>{{commits.title}}</td>
                            <td>{{backlog.description}}</td>
                            <td>{{backlog.gitlink}}</td>
                            <td>
                                <a class="testDetail" href="#/userStories/{{backlog._id}}">
                                    <button class="btn btn-primary btn-detail">Details</button>
                                </a>
                                <button class="btn btn-danger" ng-click="deleteBacklog(backlog._id)">Supprimer</button>
                                <button class="btn btn-warning btn-edit" ng-click="editBacklog(backlog)">Modifier</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        <!-- /.panel-body -->
        </div>

</section>