<section>
    <div class="page-header">

    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a id="aHome" href="#/home">Home</a></li>
                    <li><a id="aUS" href="#/userstories/{{backlogId}}">User stories</a></li>
                    <li><a id="aSprint" href="#/sprints/{{backlogId}}">Sprints</a></li>
                    <li><a id="aUser" href="#/users/{{backlogId}}">Développeurs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading">
            Commits du backlog
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            
        <!-- /.panel-body -->
        </div>

</section>