<!-- Crear la View Articles -->
<section>

	<div class="page-header">		
		
	  </div>

	<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div>
			  <ul class="nav navbar-nav">
				<li><a href="#/home">Home</a></li>
				<li><a href="#/userStories/{{backlogId}}">User Stories</a></li>
			  </ul>
			</div>
		  </div>
		</nav>

	<h1>Nouveau tache</h1>
	<!-- El formulario nuevo artículo -->
	<form  novalidate>
		<div>
			<label for="Numero">Numero:</label>
			<div>
				<input class="form-control" type="text" data-ng-model="numero" id="numero" placeholder="Numero" required>
			</div>
		</div>
		<div>
			<label for="description">Description:</label>
			<div>
				<textarea class="form-control" data-ng-model="description" id="description" cols="80" rows="10" 
					placeholder="Description">
				</textarea>
			</div>
		</div>
		<div>
			<label for="dure">Dure:</label>
			<div>
				<input class="form-control" type="text" data-ng-model="dure" id="dure" placeholder="Dure" required>
			</div>
		</div></br>
		<div>
			<button class="btn btn-primary" ng-click="create()">Ajouter</button>
		</div>
		<!-- El elemento mensaje de error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>