<!-- La view editar artículo -->
<section>
	<h1>Editer Tache </h1>
	<!-- Formulario editar artículo -->
	<!-- El formulario nuevo artículo -->
	<p>{{description}}</p>
	<form  novalidate>
		<div>
			<label for="Numero">Numero:</label>
			<div>
				<input class="form-control" type="text" data-ng-model="tache.numero" id="numero" placeholder="Numero" required>
			</div>
		</div>
		<div>
			<label for="description">Description:</label>
			<div>
				<textarea class="form-control" data-ng-model="tache.description" id="description" cols="80" rows="10" 
					placeholder="Description">
				</textarea>
			</div>
		</div>
		<div>
			<label for="dure">Duree:</label>
			<div>
				<input class="form-control" type="text" data-ng-model="tache.dure" id="dure" placeholder="Duree" required>
			</div>
		</div>
		<div>
			<label for="Etat">Etat:</label>
			<div>
				<select class="form-control" data-ng-model="tache.etat" id="etat" placeholder="Etat" required>
					  <option value="0">To Do</option>
					  <option value="1">Doing</option>
					  <option value="2">Done</option>
				</select>				
			</div>
		</div>
	    </br>
		<div>
			<input class="btn btn-primary" type="submit" value="Mise a jour">
		</div>
		<!-- El elemento mensaje de error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>