<section>
	  <nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div>
			  <ul class="nav navbar-nav">
				<li><a id="aHome" href="#/home">Home</a></li>
				<li><a id="aSprint" href="#/sprints/{{backlogId}}">Sprints</a></li>
				<li><a id="aUser" href="#/users/{{backlogId}}">Développeurs</a></li>
			  </ul>
			</div>
		  </div>
		</nav>

    <div ng-hide="editer">
                  
          <div class="panel panel-default"  >
              <div class="panel-heading">
                  Détails du backlog
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="table-responsive table-bordered">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Description</th>
                                  <th>Priorite</th>
                                  <th>Difficulte</th>
                                  <th>Options</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="us in userStories">
                                  <td>{{us.body}}</td>
                                  <td>{{us.priority}}</td>
                                  <td>{{us.difficulty}}</td>
                                  <td>
									  <a class="testDetail" href="#/taches/{{us._id}}/{{us.backlog}}">
									  	<button class="btn btn-primary btn-detail">Taches</button>
									  </a>  
									  <button class="btn btn-danger btn-delete" ng-click="deleteUserStory(us._id, us.backlog)">Supprimer</button>  
									  <button class="btn btn-warning btn-edit" ng-click="editUserStory(us)">Modifier</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <button class="btn btn-primary btn-test" ng-click="nouveau()">Nouveau</button></br> 
    </div>		

    <div class="panel panel-default" ng-show="editer">
        <div class="panel-heading">
            Ajouter/Editer une User Story
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
				       <div class="form-group">
						  <input type="text"
							  class="form-control"
							  placeholder="Description"
							  ng-model="body">
						  </input>
						  <br>
						  <label for="sel1">Priorite:</label>
						  <input type="text"
							  ng-pattern="/^[0-9]+$/"
							  class="form-control"
							  ng-model="priority">
						  </input>
						  <br>
						  <label for="sel1">Difficulte:</label>
						  <select class="form-control" ng-model="difficulty">
							  <option>2</option>
							  <option>3</option>
							  <option>5</option>
							  <option>8</option>
							  <option>13</option>
							  <option>21</option>
							</select>
						  <div class="form-group">
								<input type="hidden"z
									class="form-control"
									placeholder="Id"
									ng-model="id">
								</input>
						  </div>
						  <div class="form-group">
								<input type="hidden"z
									class="form-control"
									placeholder="IdSprint"
									ng-model="idSprint">
								</input>
						  </div>
						</div>
						<button id="BtnAddUserstory" class="btn btn-primary" ng-click="addUserStory()">Ajouter</button>
						<button id="BtnEditUserstory" class="btn btn-info" ng-click="updateUserStory(us._id)">Editer</button>
						<a class="testDetail" href="#/userStories/{{backlog._id}}">   
				           <button class="btn btn-warning" ng-click="annuler()">Annuler</button>
				        </a> 
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>

</section>