<section>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a id="aHome" href="#/home">Home</a></li>
                    <li><a id="aUS" href="#/userStories/{{backlogId}}">User Stories</a></li>
                    <li><a id="aCommit" href="#/commits/{{backlogId}}">Commits</a></li>
                    <li><a id="aSprint" href="#/sprints/{{backlogId}}">Sprints</a></li>
                    <li><a id="aUser" href="#/users/{{backlogId}}">Développeurs</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ng-hide="edit">
        <div google-chart chart="chart" style="{{chart.cssStyle}}"></div>
        </br>
        <a id="aSprint" href="#/sprints/{{backlogId}}">
            <button id="btn-addSprint" class="btn btn-primary">Retour</button>
        </a>
    </div>

</section>