<section>
	  <div class="page-header">		
		
	  </div>
	  
	  <nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div>
			  <ul class="nav navbar-nav">
				<li><a id="aHome" href="#/home">Home</a></li>
				<li><a id="aUS" href="#/userStories/{{backlogId}}">User Stories</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
	  
	  <h3>Sprints du backlog</h3>
	
		<div class="container">

		<table  class="table table-striped">
			<thead>
				<tr>
					<th>Sprint</th>
					<th>Options</th>
					<th>User Stories</th>
				<tr>
			</thead>
			<tbody>	

			<span style="font-size:20px;">
			  <tr ng-repeat="sp in sprints">
			  	<td>{{sp.title}}</td>
			  	<td><button class="btn btn-warning" ng-click="editSprint(sp)">Modifier</button>
			  	<button class="btn btn-primary btn-addUS" ng-click="showFormUs(sp)">Ajouter US</button>
			    <button class="btn btn-danger" ng-click="deleteSprint(sp._id)">Supprimer</button> </td>
			  	<td>
			  		<table   class="table table-striped">
			  			<thead>
							<tr>
								<th>Titre</th>
								<th>Priority</th>
								<th>Difficulty</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr  ng-repeat="us in userStories" ng-if='us.sprint==sp._id'>
								<td>{{us.body}}</td>
								<td>{{us.priority}}</td>
								<td>{{us.difficulty}}</td>
								<td><button class="btn btn-danger btn-deleteUS" ng-click="removeUserStory(us)">Supprimer</button></td>
							</tr>
						</tbody>
			  		</table>
			  	</td>
			  </tr>
			</tbody>
			</span>

		</table>
	  </div>
	  
		<h3>Ajouter/Editer un sprint</h3>

		  <div ng-show="updateUserStories" class="form-group">
			  <label for="sel1">User Stories (maintenir Ctrl pour selectionner plusieurs items) :</label>

			  <select multiple ng-model="uss" class="form-control" ng-options="us as us.body + ' priority : ' + us.priority for us in userStories">
			  </select>
			  <br>
			  <button class="btn btn-primary btn-addUSclick" ng-click="addUS()">Ajouter</button>
		  </div>

		  <div class="form-group">
		  <input type="text"
			  class="form-control"
			  placeholder="Titre"
			  ng-model="title">
		  </input>
		  <br>

		  <div class="form-group">
				<input type="hidden"
					class="form-control"
					placeholder="Id"
					ng-model="id">
				</input>
		  </div>
		</div>
		<button class="btn btn-primary btn-add" ng-click="addSprint()">Ajouter</button>
		<button class="btn btn-info btn-edit" ng-click="updateSprint(us._id)">Editer</button> 

</section>